name: Pull Requests / Weekly QA

on:
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 0 * * 6"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Build
        run: go build -o awesome-docker ./cmd/awesome-docker

      - name: Validate
        run: ./awesome-docker validate
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
